# github
!.github

# editors
*~
*.sln
*.vcxproj
*.vcxproj.filters
.vscode/
.idea/

# MacOS
.DS_Store

# cpp
_build/
_temp/

# js
node_modules/
npm-*.log*
_data/
.next/

# python
.python-version
__pycache__/
*.egg-info/
build/
dist/
*.mo

# other build artifacts
_generated/

nem.main.yaml
nem.test.yaml
symbol.main.yaml
symbol.test.yaml
nodewatch_daily.main.sh
nodewatch_daily.test.sh
pull.main.sh
pull.test.sh
config.main.py
config.test.py
